# SET TO PRODUCTION OR DEVELOPMENT
NODE_ENV= 

# PORT TO LISTEN ON
PORT=3000

# MONGODB DB ADMIN USERNAME
DB_ADMIN_USERNAME=

# MONGODB DB ADMIN PASSWORD
DB_ADMIN_PASSWORD=

# MongoDB DB Connection string
DB_URL=mongodb+srv://<ADMIN>:<PASSWORD>@<the rest of my db url, get yours from mongodb>

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN='30d'
JWT_COOKIE_EXPIRES_IN=90

# Mailtrap details
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525

# Domain client will receive email from
EMAIL_FROM="admin@<AppName>.com"


SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=<YOUR_SENDGRID_APIKEY>