# Ignores everything in this directory
# FEEL FREE TO DELETE THIS GITIGNORE AFTER YOU HAVE THIS DIRECTORY ON YOUR LOCAL MACHINE 
# ONLY ADDED BECAUSE GIT DOES NOT, BY DESIGN, TRACK EMPTY DIRECTORIES, BUT YOU WILL NEED THIS
*
# Except this file
!.gitignore